---
---
@import 'settings.defaults';
@import 'settings.colors';
@import 'settings.responsive';

@import 'tools.bem';
@import 'tools.responsive';

@import 'base.page';
@import 'base.heading';
@import 'base.forms';

@import 'generic.reset';
@import 'generic.shared';

@import 'objects.wrap';
@import 'objects.layout';

@import 'components.nav';
@import 'components.button';

@import 'immutable.border-radius';
@import 'immutable.display';
@import 'immutable.spacing';
@import 'immutable.vertical-align';
@import 'immutable.background-color';
@import 'immutable.color';
@import 'immutable.background';
@import 'immutable.type-treatment';
@import 'immutable.heading';

.logo {
    max-width: 100px;
    
    @include bp-m {
        max-width: 150px;
    }
}

.p-t--xl {
    padding-top: $spacing-l * 3;
}

.p-b--xl {
    padding-bottom: $spacing-l * 4;
}