<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aspire Channel Swim 2016</title>
    <meta name="description" content="22 Miles. 12 Weeks. Your pool. Swim the channel, raise money for Aspire and help change the lives of people who have been paralysed by Spinal Cord Injury.">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body>
