//
// base.forms
// ============================================================================
// Form styles
//

input {
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    padding: 12px;
    width: 100%;
    border-radius: 0;
}

button {
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    padding: 6px 12px;
    font-family: $base-font-sans;
    background-color: #0072CE;
    color: white !important;
    width: 100%;
}