// # immutable.color
// ============================================================================
//
// Immutable color styles

.c-primary {
    color: $color-primary;
}

.c-secondary {
    color: $color-secondary;
}

.c-meta {
    color: $color-meta-dark;
}

.c-accent {
    color: $color-accent;
}

.c-white {
    color: #ffffff;
}