//
// immutable.vertical-align
// ============================================================================
// Immutable vertical alignment styles
//

.v-a--t {
    vertical-align: top;
}

.v-a--m {
    vertical-align: middle;
}

.v-a--b {
    vertical-align: bottom;
}