//
// settings.defaults
// ============================================================================
// Default variables used throughout framework
//

$base-font-size: 14px !default;

$small-font-size: 12px !default;

$base-font-serif: Georgia, Times New Roman, serif !default;

$base-font-sans: -apple-system, Roboto, Arial, sans-serif !default;

$base-line-height: 2.2  !default;

$base-text-color: #121212 !default;

$base-background-color: #f7f7f7 !default;

$base-spacing-unit: 24px !default;